@model ChristanCrush.Models.ProfileModel
@{
    ViewData["Title"] = "Create Profile";
    Layout = "_LoggedInLayout";
}
<script>
    
</script>

<h2>Create Profile</h2>
<div class="container login-container mt-5 mb-4">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" class="form-control" placeholder="John Doe" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Bio" class="control-label"></label>
            <textarea asp-for="Bio" class="form-control" placeholder="Tell us a little about yourself..."></textarea>
            <span asp-validation-for="Bio" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Occupation" class="control-label"></label>
            <input asp-for="Occupation" class="form-control" placeholder="Your Occupation" />
            <span asp-validation-for="Occupation" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Hobbies" class="control-label"></label>
            <input asp-for="Hobbies" class="form-control" placeholder="Hiking, Reading, Cooking" />
            <span asp-validation-for="Hobbies" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Image1" class="control-label"></label>
            <input asp-for="Image1" type="file" class="form-control" id="imageInput"/>
            <span asp-validation-for="Image1" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label class="control-label">Image Preview:</label>
            <img id="imagePreview" src="#" alt="Image Preview" style="display: none; max-width: 100%; height: auto;" />
        </div>
        <div class="form-group mb-3">
            <label asp-for="Image2" class="control-label"></label>
            <input asp-for="Image2" type="file" class="form-control" />
            <span asp-validation-for="Image2" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Image3" class="control-label"></label>
            <input asp-for="Image3" type="file" class="form-control" />
            <span asp-validation-for="Image3" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </form>
</div>